.container {
	background-color: #FFE4E1;
	margin: 0 auto;
	padding: 20px;
	color: #DB7093;
	font-family: 'Alegreya Sans', sans-serif;
	text-align: left;
	width: 1250px;
	height: 3000px;
}

body {
	background-image: url('../img/anthropologie14.jpg');
}

h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 30px;
}

p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
}

main {
	text-align: left;
}

#header a {
	display: inline-block;
	color: #DB7093;
	border: 5px solid #DB7093;
	font-size: 60px;
	margin: 0 auto;
	width: 1220px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	position: relative;
	border-radius: 30px;
}

.anthro img {
	width: 410px;
}

section p a {
	color: #708090
}

section p a:hover {
	color: #FFFFFF;
	font-weight: bold;
}

section img {
	border-radius: 50px;
	padding: 20px;
	width: 280px;
}

.social a {
	float: right;
	font-family: 'Alegreya Sans', sans-serif;
	color: #DB7093;
	padding: 8px;
	font-size: 30px;
}

nav ul {
	padding: left;
	color: #DB7093;
	font-size: 20px
}

nav ul li {
	display: inline-block;
	padding: 0px 20px;
	font-size: 20px
}

nav ul li a {
	font-family: 'Alegreya Sans', sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: #DB7093;
}

nav ul li a:hover {
	color: #FFFFFF;
}

section a {
	color: #708090;
}

section a:hover {
	color: #FFFFFF;
	font-weight: bold;
}

#hero img {
	width: 1250px;
	border-radius: 50px;
}

span {
	color: #708090;
}

article p {
	text-align: left;
}

#blog article img {
	width: 400px;
	border-radius: 50px;
}

#blog h1 {
	border: 5px solid #DB7093;
	width: 600px;
	padding: 10px;
	border-radius: 20px;
}

article a {
	color: #708090;
}

article a:hover {
	color: #FFFFFF;
	font-weight: bold
}

footer p {
	text-align: center;
	font-size: 15px;
}

